.fruits-style {
    display: flex;
}

.fruit-border {
    border: red solid 1px;
    display: flex;
    margin: 10px;
    width: 100px;
    height: 100px;
    padding: 30px;
    align-items: center;
    justify-content: center;
}